torch
torchaudio
torch_complex
librosa
matplotlib
praat-parselmouth
scikit-learn
speechbrain
jupyter
espnet
espnet_model_zoo
pyyaml
openpyxl
cvxopt
seaborn
transformers==4.47.0
noisereduce
accelerate
dragonmapper
pypinyin
pyloudnorm
phonemizer
transphone
phonepiece
xlrd
dotwiz
imageio
chinese-converter